<div class="update-survey">
          Enter questions and answers.
        <form class="auth" id="create-a-survey">
        <div class="form-group">
          <input type="text" name="survey[questions][0][content]" id="new_question" placeholder="Question">
          <input type="text" name="survey[questions][0][responses][answer1]" id="new_answer1" placeholder="Answer 1"><br>
          <input type="text" name="survey[questions][0][responses][answer2]" id="new_anser2" placeholder="Answer 2">
          <button type="submit" class="btn btn-default">Submit!</button>
        </div>
        </form>
        </div
