{{#each surveys as |survey|}}
  <p data-id="{{survey.id}}">
    <h3>{{survey.title}}</h3>
</p>
  <form>
    {{#each survey.questions as |question|}}
      {{> questions question=question}}
    {{/each}}
    <button type="submit" class="vote">Vote</button>
    <input type="reset" class="reset">
  </form>

{{/each}}
